<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-img src="https://upload.wikimedia.org/wikipedia/commons/2/2e/Game_of_Thrones_2011_logo.svg">
      </ion-img>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-icon name="home-outline" size="small"></ion-icon>
          Home
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label [routerLink]="['/list']">
          <ion-icon name="person-circle-outline"></ion-icon>
          <span>
            Characters
          </span>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label [routerLink]="['/continents/list']">
          <ion-icon name="earth-outline"></ion-icon>
          Continents
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Game of Thrones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    Tap the button in the toolbar to open the menu.
  </ion-content>
</div>
